html {
  font-family: sans-serif;
  background-color: #edeef0;
  padding: 0;
  margin: 0;
}

.row {
  width: 100%;
  clear: both;

}

p {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

@media (min-width: 992px) {
  .menu-block-1, .menu-block-2, .menu-block-3{
  background-color: #fff;
  width: 31%;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  float: left;
  position: relative;
}
}

@media (min-width: 768px) and (max-width: 991px) {

.menu-block-md-1 .menu-block-md-2  {
  background-color: #fff;
  width: 45%;
  border: 1px solid black;
  padding: 10px;
  margin: 30px;
  margin-top: 20px;
  float: left;
  position: relative;
}

.menu-block-md-3 {
  background-color: #fff;
  width: 30%;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  margin-top: 20px;
  position: relative;
}
}

/*@media (min-width: 768px and max-width: 991px) {

.menu-block-sm {
  background-color: #fff;
  width: 30%;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  margin-top: 20px;
  float: left;
  position: relative;
}
}
*/
.menu-content {
  margin-top: 60px;
  font-size: 1.25em;
  font-weight: normal;
}

.menu-header {
  text-align: center;
  position: absolute;;
  right: 0;
  top: 0;
  min-width: 170px;
  height: 40px;
  padding-top: 10px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  font-size: 1.75em;
}


.st {
  background-color: #E5EBD5;
}

.nd {
  background-color: #E8EBE2;
}

.rd {
  background-color: #E7DEE7;
}
