/* ======================fonts====================================*/

@font-face {
    font-family: 'UbuntuRegular';
    src: url('fonts/UbuntuRegular.eot');
    src: url('fonts/UbuntuRegular.eot') format('embedded-opentype'),
         url('fonts/UbuntuRegular.woff2') format('woff2'),
         url('fonts/UbuntuRegular.woff') format('woff'),
         url('fonts/UbuntuRegular.ttf') format('truetype'),
         url('fonts/UbuntuRegular.svg#UbuntuRegular') format('svg');
}
@font-face {
    font-family: 'UbuntuMedium';
    src: url('fonts/UbuntuMedium.eot');
    src: url('fonts/UbuntuMedium.eot') format('embedded-opentype'),
         url('fonts/UbuntuMedium.woff2') format('woff2'),
         url('fonts/UbuntuMedium.woff') format('woff'),
         url('fonts/UbuntuMedium.ttf') format('truetype'),
         url('fonts/UbuntuMedium.svg#UbuntuMedium') format('svg');
}
@font-face {
    font-family: 'UbuntuBold';
    src: url('fonts/UbuntuBold.eot');
    src: url('fonts/UbuntuBold.eot') format('embedded-opentype'),
         url('fonts/UbuntuBold.woff2') format('woff2'),
         url('fonts/UbuntuBold.woff') format('woff'),
         url('fonts/UbuntuBold.ttf') format('truetype'),
         url('fonts/UbuntuBold.svg#UbuntuBold') format('svg');
}


/*===========================header styles===============================*/
section#main {
  padding-top: 105px;
  height: 1000px;
  background: url(../img/background.jpg) no-repeat top center;
}
.phone h3{
  color: #fff;
  font-family: 'UbuntuMedium';
}
.phone p{
  color: #fff;
  font-family: 'UbuntuRegular';
}
.company-logo img{
  height: 150px;
}
.social img{
  width: 40px;
  height: 40px;
}
.social {
  //padding-left: 5px;
  padding-top: 5px;
}
.social a{
  padding-left: 5px;
}
.header h1{
  color: #fff;
  font-family: 'UbuntuBold';
  text-transform: uppercase;
  padding-top: 150px;
}
.header{
  padding-bottom: 150px;
}
/*==============================form=========================*/
.header-form  h2{
  color: #a60436;
  font-family: 'UbuntuMedium';
  padding-bottom: 20px;
}
.main-form {
  background-color: rgba(255, 255, 255, 0.47);
  padding-bottom: 30px;
}
.main-form input{
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  border: none;
}
.main-form .btn-sub {
  background-color: #a60436;
  color: #fff;
  font-family: 'UbuntuBold';
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 80%;
  display: inline-block;
  box-shadow: 0px 5px 5px #da0849;
}
.main-form .btn-sub:hover {
  background-color: #8b022c;
}
.main-form .btn-sub:active {
  background-color: #fe0351;
  box-shadow: none;
  transform: translateY(5px);
}
/*=========================preview section=============================*/
section#preview {
  padding-bottom: 45px;
  border-bottom: 5px solid #a60436;
}
.prev-header h2 {
  color: #a60436;
  font-family: 'UbuntuBold';
  padding-bottom: 20px;
}
.prevs-row p {
  color: #a60436;
  font-family: 'UbuntuMedium';
}
.prevs-row img {
  width: 100%;
  padding: 10px;
}
/*=======================prices=========================================*/
.header-price h2 {
  color: #a60436;
  font-family: 'UbuntuBold';
  padding-bottom: 20px;
}
.offering h3 {
  color: #a60436;
  font-family: 'UbuntuMedium';
}
.offering {
  border: 5px solid #a60436;
  border-radius: 5px;
  padding-bottom: 20px;
}
.item ul li {
  color: #a60436;
  font-family: 'UbuntuMedium';
  list-style-image: url("../img/chek.png");
}
.item .btn-sub {
  background-color: #a60436;
  color: #fff;
  font-family: 'UbuntuBold';
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 80%;
  display: inline-block;
  box-shadow: 0px 5px 5px #da0849;
}
.item .btn-sub:hover {
  background-color: #8b022c;
}
.item .btn-sub:active {
  background-color: #fe0351;
  box-shadow: none;
  transform: translateY(5px);
}
.price-rev {
  padding-bottom: 40px;
}
/*======================================second form===========================*/
.header-form  h2{
  color: #a60436;
  font-family: 'UbuntuMedium';
  padding-bottom: 20px;
}
.second-form {
  padding-bottom: 30px;
}
.second-form input{
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #959595;
}
.second-form .btn-sub {
  background-color: #a60436;
  color: #fff;
  font-family: 'UbuntuBold';
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 80%;
  display: inline-block;
  box-shadow: 0px 5px 5px #da0849;
}
.second-form .btn-sub:hover {
  background-color: #8b022c;
}
.second-form .btn-sub:active {
  background-color: #fe0351;
  box-shadow: none;
  transform: translateY(5px);
}
